<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>QFF Media Converter</Name>
    <Version>1.2.7</Version>
    <Title>QFF Media Converter Installer</Title>
    <Publisher>Bitmutex Technologies</Publisher>
    <ProductUrl>https://www.bitmutex.com</ProductUrl>
    <StartMenuDir>QFFMediaConverter</StartMenuDir>
    <TargetDir>@ApplicationsDir@/QFFMediaConverter</TargetDir>
    <MaintenanceToolName>uninst_qff</MaintenanceToolName>
    <StyleSheet>style.qss</StyleSheet>
 </Installer>
